.header .notice .noticeIcon{
	background-image: url(../img/index/雄安实名制移动端_首页_03.png);
	background-size: 100% 100%;
	width: 0.56rem;
	height: 0.57rem;
	color: #6e6e6e;
	position: absolute;
	top: 0.26rem;
	right: 0.34rem;
}
.header .notice .onIcon{
	background-image: url(../img/index/雄安实名制移动端_首页_04_06.png);
	background-size: 100% 100%;
	width: 0.19rem;
	height: 0.2rem;
	color: #b22329;
	position: absolute;
	top: 0.24rem;
	right: 0.33rem;
}
.header .notice .noticeTag{
	width: auto;
	height: 0.25rem;
	font-family: MicrosoftYaHei;
	font-size: 0.25rem;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0rem;
	color: #6e6e6e;	
	position: absolute;
	top: 0.87rem;
	right: 0.37rem;
	line-height: 0.25rem;
}
.swiper{
	width: 10.04rem;
	height: 4.62rem;
	position: relative;
	top: 0;
	left: 0;
	
}
.swiper .imgList{
	width: 100%;
	height: 100%;
	position: absolute;
}
.swiper .imgList .imgItem{
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	position: absolute;
	opacity: 0;
	transition: all 0.8s;
}
.swiper .imgList .imgItem.active{
	opacity: 1;
	z-index: 10;
}
.swiper .imgList .imgItem .tag{
	width: 5.78rem;
	height: 0.84rem;
	right: 0.23rem;
	top: 2.36rem;
	position: absolute;
	background-size: 100% 100%;
}
.swiper .swiperCircle{
	position: absolute;
	display: flex;
	top: 4.18rem;
	right: 0.37rem;
	width: 1.36rem;
	height: 0.31rem;
	justify-content: space-between;
	align-items: flex-start;
	z-index: 20;
}
.swiper .swiperCircle .circle{
	width: 0.17rem;
	height: 0.17rem;
	border: solid 0.03rem #ffffff;
	border-radius: 0.085rem;
}
.swiper .swiperCircle .circle.active{
	width: 0.18rem;
	height: 0.31rem;
	background-image: url(../img/index/雄安实名制移动端_首页_07.png);
	background-size: 100% 100%;
	border: none;
}
.headline{
	height: 0.89rem;
	background-color: #ffffff;
	box-shadow: 0rem 0rem 0.06rem 0.01rem 
		rgba(44, 44, 44, 0.64);
	display: flex;
	align-items: center;
	width: 255%;
}
.textList{
	height: 0.27rem;
}
.text{
	float: left;
	display: block;
	width: auto;
	font-family: MicrosoftYaHei;
	font-size: 0.27rem;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0rem;
	color: #b4282d;
	margin: auto 0.33rem;
}
.safetyEducation{
	width: 9.55rem;
	height: 1.54rem;
	background-color: #f7f7f7;
	box-shadow: 0rem 0.03rem 0.03rem 0rem 
		rgba(44, 44, 44, 0.36);
	margin: 0.37rem 0.22rem 0 0.27rem;
	display: flex;
	flex-direction: column;
}
.safetyEducation .safe.top{
	height: 0.33rem;
	width: 100%;
	margin-top: 0.27rem;
	display: flex;
}
.safetyEducation .safe.top .safe.icon{
	width: 0.32rem;
	height: 0.32rem;
	color: #b22329;
	background-image: url(../img/index/雄安实名制移动端_首页_14.png);
	margin-left: 0.22rem;
	background-size: 100% 100%;
}
.safetyEducation .safe.top .safe.tag{
	width: 2.05rem;
	height: 0.33rem;
	font-family: MicrosoftYaHei;
	font-size: 0.33rem;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0rem;
	color: #515151;
	margin-left: 0.15rem;
	line-height: 0.33rem;
}
.safetyEducation .safe.top .safe.moreIcon{
	width: 0.19rem;
	height: 0.33rem;
	color: #6e6e6e;
	background-image: url(../img/index/雄安实名制移动端_首页_11.png);
	margin:0 0.28rem 0 6.42rem;
	background-size: 100% 100%;
}
.safetyEducation .safe.text{
	width: 6.3rem;
	height: 0.34rem;
	font-family: MicrosoftYaHei;
	font-size: 0.33rem;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0rem;
	color: #515151;
	margin: 0.32rem 2.69rem 0.28rem 0.67rem;
}
/**/
.salary{
	width: 9.55rem;
	height: 2.83rem;
	background-color: #f7f7f7;
	box-shadow: 0rem 0.03rem 0.03rem 0rem 
		rgba(44, 44, 44, 0.36);
	margin: 0.3rem 0.21rem 0 0.28rem;
	display: flex;
	flex-direction: column;
}
.salary .sal.top{
	height: 0.33rem;
	width: 100%;
	margin-top: 0.27rem;
	display: flex;
	position: relative;
}
.salary .sal.top .sal.icon{
	width: 0.32rem;
	height: 0.32rem;
	color: #b22329;
	background-image: url(../img/index/雄安实名制移动端_首页_18.png);
	margin-left: 0.22rem;
	background-size: 100% 100%;
}
.salary .sal.top .sal.tag{
	width: 2.05rem;
	height: 0.33rem;
	font-family: MicrosoftYaHei;
	font-size: 0.33rem;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0rem;
	color: #515151;
	margin-left: 0.15rem;
	line-height: 0.33rem;
}
.salary .sal.top .sal.more {
    width: 0.6rem;
    height: 0.25rem;
    font-family: MicrosoftYaHei;
    font-size: 0.25rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0rem;
    color: #515151;
    line-height: 0.35rem;
    position: absolute;
    right: 0.58rem;
}
.salary .sal.top .sal.moreIcon{
	width: 0.19rem;
	height: 0.33rem;
	color: #6e6e6e;
	background-image: url(../img/index/雄安实名制移动端_首页_11.png);
	margin:0 0.28rem 0 6.45rem;
	background-size: 100% 100%;
}
.salary .sal.swiper{
	height: 2.23rem;
	width: 9.55rem;
	padding: 0.7rem 0.43rem 0.33rem 0.67rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.salary .sal.swiper .sal.left{
	width: 0.32rem;
	height: 0.32rem;
	color: #6e6e6e;
	background-size: 100% 100%;
	background-image: url(../img/index/雄安实名制移动端_首页_21.png);
}
.salary .sal.swiper .sal.swiperBox{
	width: 7.53rem;
	height: 1.2rem;
	overflow: hidden;
}
.salary .sal.swiper .sal.swiperBox .sal.itemList{
	width: 300%;
	height: 1.2rem;
	transition: all 0.8s;
}
.salary .sal.swiper .sal.swiperBox .sal.itemList .sal.item{
	float:left;
	display: inline-block;
	width: 2.33rem;
	height: 1.2rem;
	background-color: #b22329;
	border-radius: 0.06rem;
	position: relative;	
	margin-right: 0.27rem;
}
.salary .sal.swiper .sal.swiperBox .sal.itemList .sal.item .sal.date{
	width: auto;
	height: 0.17rem;
	font-family: MicrosoftYaHei;
	font-size: 0.21rem;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0rem;
	color: #ffffff;	
	position: absolute;
	left: 0.2rem;
	top: 0.21rem;
	line-height: 0.21rem;
}
.salary .sal.swiper .sal.swiperBox .sal.itemList .sal.item .sal.money{
	width: 1.8rem;
	height: 0.31rem;
	font-family: MicrosoftYaHei-Bold;
	font-size: 0.33rem;
	font-weight: 700;
	font-stretch: normal;
	letter-spacing: 0rem;
	color: #ffffff;
	position: absolute;
	left: 0.18rem;
	top: 0.72rem;
	line-height: 0.33rem;
}
	
.salary .sal.swiper .sal.right{
	width: 0.32rem;
	height: 0.32rem;
	color: #6e6e6e;
	background-size: 100% 100%;
	background-image: url(../img/index/雄安实名制移动端_首页_28.png);
}
.bottom .item .item.icon.active{
	background-image: url(../img/index/雄安实名制移动端_首页_29.png);
}
